@charset "UTF-8";

/* 回答はここに書いてね */

.q2_body {
  width: 940px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #eff3f4;
}

.q2 p {
  word-break: break-all;
  font-size: 18px;
  line-height: 22px;
}

.img-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.img-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* 回答はここに書いてね */
