@charset "UTF-8";

/* 回答はここに書いてね */
.body {
  padding: 20px;
  background-color: #ecf1f2;
}

.bar{
  width: 100%;
  display: table;
  margin-top: 40px;
  text-align: center;
}

.bar:first-child{
  margin-bottom: 0;
}

.bar-item {
  display: table-cell;
  padding: 20px 0;
}

.orange {
  background-color: #fdc8b8; 
  width: 100px; 

}

.pink {
  background-color: #e0abd9; 
}

.blue {
  background-color: #b6d8ed; 
  width: 100px; 
}

.yellow {
  background-color: #e5d32e; 
}

.red {
  background-color: #ec8f9a; 
}

.green {
  background-color: #8fdcad; 
  width: 500px; 
}

/* 回答はここに書いてね */
