@charset "UTF-8";

/* 回答はここに書いてね */
.bubble-text {
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  word-break: break-all;
  line-height: 16px;
  border: 5px solid #222;
  border-radius: 30px;
}

.bubble-text:before, .bubble-text:after {
  border-style: solid;
  content: "";
  position: absolute;
}

.bubble-text:before {
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0 20px;
  border-color: #FFFF transparent;
  z-index: 0;
}

.bubble-text:after {
  left: 39px;
  border-width: 21px 21px 0 21px;
  border-color: #222 transparent;
  bottom: -26px;
  z-index: -1;
}
/* 回答はここに書いてね */
