@charset "UTF-8";

/* 回答はここに書いてね */

.dashboard {
  margin: 0 auto;
}

.list {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border: solid #dedede 1px;
}

.list  tr:nth-child(odd) {
	background-color: #ecf1f2;
}

.list tr, .list td {
  border: solid #dedede 1px;
}

.list th {
  padding: 10px 0;
  border: solid #dedede 1px;
  color: #ffff;
  background-color: #2244aa;
}

.list tfoot tr{
  border-top: dashed 2px #000;
}
/* 回答はここに書いてね */
