@charset "UTF-8";

/* 回答はここに書いてね */
.header-box {
  /* display: block; --必要？ */
  text-align: center;
}

.header-text {
  width: 90px;
  padding: 10px 0;
  text-align: center;
  background-color: #e6f2ff;
  margin: 0 auto;
}

.main {
  display: table;
}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.content-text {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q6--around.content {
  display:flex;
  justify-content: center;
  align-items: center;
}

.is-stable.footer {
  position: relative;
}

.q6__box__inner.footer-text {
  margin: 0 auto;
}

.is-flexible.footer {
  position: relative;
}

.q6__box__inner.footer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 回答はここに書いてね */
