@charset "UTF-8";

/* 回答はここに書いてね */

.text-align {
  text-align: center;
}

.left-text {
  display: inline-block;
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
}

.margin {
  display: block;
}

.right-text {
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
  text-align: center;
  margin: 0 auto;
  
}

.main {
  display: table;
}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.content-text {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q6--around.content {
  display:flex;
  justify-content: center;
  align-items: center;
}

.is-stable.footer {
  position: relative;
}

.footer-right-text {
  position: absolute;
  width: 110px;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.is-flexible.footer {
  position: relative;
}

.footer-left-text {
  background-color: #e6f2ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 回答はここに書いてね */
